@use './base' as *;

a.btn,
button.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	&:focus {
		outline-style: solid;
		outline-color: transparent;
	}
}

.btn {
	padding: 0.65em 1.3em;
	background-color: $clr-accent-400;
	font-size: $fs-18;
	color: $clr-primary-400;
	font-weight: $fw-bold;
	line-height: 2rem;
	letter-spacing: -0.01em;
	border: 2px solid $clr-accent-400;
	transition: 0.3s background-color, 0.3s color;

	&:focus {
		box-shadow: 0 0 0 4px scale-color($clr-focus-400);
	}

	&:hover {
		background-color: transparent;
		color: $clr-accent-400;
	}
}
