@use './base' as *;

body {
	min-height: 100vh;
	min-height: 100dvh;
	font-size: $fs-18;
	font-weight: $fw-regular;
	font-family: $ff-base;
	color: $clr-primary-300;
	background-color: $clr-neutral-100;
}

ol,
ul {
	list-style: none;
}

.header {
	padding-block: 2rem;
	background-color: $clr-primary-400;
}
