@use './base' as *;

body {
	min-height: 100vh;
	min-height: 100dvh;
	font-size: $fs-16;
	font-weight: $fw-regular;
	font-family: $ff-base;
	color: $clr-primary-300;
	background-color: $clr-neutral-100;
}

ol,
ul {
	list-style: none;
}

h1,
h2,
h3 {
	font-family: $ff-accent;
}

.header {
	padding-block: 2rem;
	background-color: $clr-primary-400;

	@include media(x-large) {
		padding-block: 3.5rem;
	}
}

.hero,
.features {
	@include pseudo() {
		--size: 4.7vw;

		width: 100%;
		height: var(--size);
		left: 0;
		bottom: calc(var(--size) * -1);
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: 100%;
	}
}

.hero {
	padding: 2rem 0 7.75rem;
	text-align: center;
	background-color: $clr-primary-400;
	z-index: 1;

	@include media(medium) {
		padding-bottom: 12.5rem;
		background-image: url('../assets/images/bg-pattern-1.svg'),
			url('../assets/images/bg-pattern-2.svg');
		background-repeat: no-repeat;
		background-position: top 0 left -225px, bottom 75px right -95px;
	}

	@include media(x-large) {
		padding-top: 0;
		padding-bottom: 20.375rem;
		background-position: top 0 left -135px, bottom 200px right -50px;
	}

	&-heading {
		max-width: 25rem;
		margin-inline: auto;
		font-size: $fs-50;
		color: $clr-neutral-100;
		line-height: 1;
		font-weight: $fw-semibold;

		@include media(medium) {
			font-size: $fs-60;
		}

		@include media(x-large) {
			max-width: 35rem;
			font-size: $fs-80;
		}

		& .underline {
			text-decoration: 0.1875rem underline;
			text-underline-offset: 0.4rem;
			text-decoration-color: $clr-accent-400;
		}

		& + .btn {
			margin-top: 2.5rem;
		}
	}

	&-img {
		z-index: 1;
		position: absolute;
		bottom: -30%;
		left: 0;
		right: 0;
		margin-inline: auto;
		max-width: 18.25rem;
		margin-top: 4rem;

		@include media(medium) {
			max-width: 30rem;
		}
		@include media(x-large) {
			max-width: 44.6875rem;
		}
	}

	@include pseudo() {
		background-image: url('/assets/images/curve-purple.svg');
	}
}

.features {
	padding: 10rem 0 3.125rem;
	background-color: $clr-primary-100;

	@include pseudo() {
		background-image: url('/assets/images/curve-purple-light.svg');
	}

	@include media(medium) {
		padding-top: 12rem;
	}

	@include media(x-large) {
		padding: 20rem 0 6.875rem;
	}

	&-list {
		counter-reset: counter;
		flex-direction: column;
		gap: 2.5rem;
		text-align: center;

		@include media(medium) {
			text-align: left;
		}
		@include media(x-large) {
			text-align: center;
			flex-direction: row;
			gap: 1.625rem;
		}
	}

	&-list-item {
		counter-increment: counter;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;

		@include pseudo($pos: relative, $content: counter(counter)) {
			font-size: $fs-20;
			font-family: $ff-accent;
			font-weight: $fw-semibold;
			border: 1px solid black;
			border-radius: 50%;
			width: 3rem;
			aspect-ratio: 1 / 1;
			align-self: center;
			display: flex;
			align-items: center;
			justify-content: center;

			@include media(x-large) {
				font-size: $fs-24;
				width: 3.5rem;
			}
		}

		@include media(medium) {
			flex-direction: row;
			justify-content: center;
			gap: 2rem;
		}

		@include media(x-large) {
			flex-direction: column;
			gap: 3.5rem;
		}
	}

	& .feature {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		@include media(x-large) {
			gap: 1.75rem;
		}

		&-title {
			font-weight: $fw-semibold;
			font-size: $fs-28;
			line-height: 2.25rem;
			color: $clr-primary-400;

			@include media(x-large) {
				font-size: $fs-32;
			}
		}

		&-description {
			max-width: 30rem;
			@include media(x-large) {
				font-size: $fs-18;
			}
		}
	}
}

.cta-box {
	position: relative;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include media(medium) {
		align-items: start;
		min-height: 33.125rem;
		max-width: 46.25rem;
		margin-top: 8.75rem;
		margin-inline: auto;
	}

	@include media(x-large) {
		max-width: none;
		min-height: 40.5rem;
	}

	&-image {
		height: 17.5rem;
		transform: translateY(3.5rem);
		z-index: -1;

		@include media(medium) {
			position: absolute;
			transform: translateY(0);
			top: 0;
			left: 1.5rem;
		}

		@include media(x-large) {
			height: 29.5rem;
			left: 0;
		}
	}

	& .card {
		display: grid;
		margin: auto;
		padding: 2rem;
		gap: 1rem;
		max-width: 32.125rem;
		background-color: $clr-primary-400;
		color: $clr-neutral-100;
		text-align: center;

		@include media(medium) {
			position: absolute;
			margin: 0;
			padding: 3rem 3.5rem 3.5rem;
			gap: 1.5rem;
			bottom: 0;
			right: 1.5rem;
			text-align: left;

			&::after {
				position: absolute;
				content: '';
				background-image: url('../assets/images/bg-pattern-1.svg');
				background-size: cover;
				width: 13.5rem;
				height: 13rem;
				bottom: -6rem;
				right: 0.625rem;
			}
		}

		@include media(x-large) {
			padding: 4rem;
			gap: 2rem;
			max-width: 45.625rem;
			right: 0;
			bottom: 3.75rem;

			&::after {
				bottom: -4rem;
				right: 4.5rem;
			}
		}

		&-heading {
			font-size: $fs-32;
			line-height: 3rem;

			@include media(medium) {
				font-size: $fs-48;
			}

			@include media(x-large) {
				font-size: $fs-56;
				line-height: 4rem;
			}
		}

		&-description {
			line-height: 1.75rem;

			@include media(x-large) {
				font-size: $fs-18;
				line-height: 2rem;
			}
		}

		.btn {
			place-self: center;

			@include media(medium) {
				place-self: start;
			}
		}
	}
}

.footer {
	padding: 4rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 3.5rem;

	@include media(medium) {
		padding: 5rem 0 7.5rem;
	}

	@include media(medium) {
		padding-top: 3.75rem;
	}

	.socials {
		display: flex;

		&-link {
			padding: 0.875rem;

			&:focus {
				outline-style: solid;
				outline-color: transparent;
				box-shadow: 0 0 0 4px scale-color($clr-focus-400);
			}
		}

		&-icon {
			fill: $clr-primary-300;
			transition: fill 0.3s;

			&:hover {
				fill: $clr-primary-400;
			}
		}
	}
}
